<a href="https://colab.research.google.com/github/kalpana29460/Python-2026/blob/main/Assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prices = [10,25,44]

total =sum(prices)
average= total/len(prices)

print("Total order values:", total)
print("Average prices:", average)

Total order values: 79
Average prices: 26.333333333333332

In [ ]:


item = input("Enter item name: ")
price = float(input("Enter price: "))
quantity = int(input("Enter quantity: "))

total = price * quantity

print("\n--- ORDER SUMMARY ---")
print("Item     :", item)
print("Price    :", price)
print("Quantity :", quantity)
print("Total    :", total)

Enter item name: Fruits
Enter price: 100
Enter quantity: 25

--- ORDER SUMMARY ---
Item     : Fruits
Price    : 100.0
Quantity : 25
Total    : 2500.0

In [ ]:
product ={
        "Laptop ": " electronics " ,
        "Chair":  "furniture ",
        " Mobile": "electronics"
}
print("products:", product.keys())
print("categories:", products.values())
print("total products:",len(products))

products: dict_keys(['Laptop ', 'Chair', ' Mobile'])
categories: dict_values([' electronics ', 'furniture ', 'electronics'])
total products: 3

In [ ]:
visitors = [30,65,45,50,80,65]

print("highest traffic:",max(visitors))
print("lowest trafic:",min(visitors))

highest traffic: 80
lowest trafic: 30

In [ ]:
amount = int(input("enter amount: "))

if amount > 0:
   print("valid")
else:
   print("invalid")

enter amount: 500
valid

In [12]:


student_courses = {
    "Anu": "Python",
    "Ravi": "Java",
    "Sneha": "Web Development"
}

print("Student Names:", student_courses.keys())
print("Courses:", student_courses.values())
print("Total Students:", len(student_courses))

Student Names: dict_keys(['Anu', 'Ravi', 'Sneha'])
Courses: dict_values(['Python', 'Java', 'Web Development'])
Total Students: 3

In [13]:


distance = int(input("Enter delivery distance (km): "))

if distance <= 5:
    print("Category: Near")
elif distance <= 15:
    print("Category: Medium")
else:
    print("Category: Far")

Enter delivery distance (km): 50
Category: Far

In [19]:
score = int(input("enter exam score:" ,))
if score >= 80:
   print("result: pass")
else:
   print("result: fail")

enter exam score:50
result: fail

In [21]:


sales = 0
orders = 0
feedbacks = 0

print("Dashboard Categories:")
print("1. Sales")
print("2. Orders")
print("3. Feedbacks")

choice = int(input("Enter category number to increment count: "))

if choice == 1:
    sales += 1
elif choice == 2:
    orders += 1
elif choice == 3:
    feedbacks += 1
else:
    print("Invalid choice")

print("\n--- DASHBOARD ---")
print("Sales    :", sales)
print("Orders   :", orders)
print("Feedbacks:", feedbacks)

Dashboard Categories:
1. Sales
2. Orders
3. Feedbacks
Enter category number to increment count: 2

--- DASHBOARD ---
Sales    : 0
Orders   : 1
Feedbacks: 0